<div class="container" *ngIf="presents.length">
    <h1>{{header}}</h1>
    <ul *ngFor="let p of presents">
        <app-christmas-present [present]='p'></app-christmas-present>
    </ul>
</div>
<div class="container">
    <div class="form-group">
        <label for="presentName">Present Name</label>
        <input #presentName type="text" id="presentName" />
    </div>
    <div class="form-group">
        <label for="presentDescription">Present Description</label>
        <input #presentDescription type="text" id="presentDescription" />
    </div>
    <div class="form-group">
        <label for="presentLink">Present Link</label>
        <input #presentLink type="text" id="presentLink" />
    </div>
    <button class="btn btn-primary" (click)='addPresent(presentName.value,presentDescription.value,presentLink.value)'>Add a present</button>
</div>