<div class="container mt-3 mb-3" *ngIf="presents.length">
    <div class="card-deck">
        <div *ngFor="let p of presents; let i = index">
            <app-christmas-present [present]='p'></app-christmas-present>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group">
        <label for="presentName">Present Name</label>
        <input #presentName type="text" id="presentName" />
    </div>
    <div class="form-group">
        <label for="presentDescription">Present Description</label>
        <input #presentDescription type="text" id="presentDescription" />
    </div>
    <div class="form-group">
        <label for="presentLink">Present Link</label>
        <input #presentLink type="text" id="presentLink" />
    </div>
    <div class="form-group">
        <label for="imageLink">Present Link</label>
        <input #imageLink type="text" id="imageLink" />
    </div>
    <button class="btn btn-primary" (click)='addPresent(presentName.value,presentDescription.value,presentLink.value,imageLink.value)'>Add a present</button>
</div>